{% extends 'base.html' %}

{% block content %}
  <h2 class="mt-2">Cadastro de Estado</h2>
  <hr class="mt-0 mb-4">
  <p>
    <a href="{% url 'estado_add' %}" class="btn btn-primary">Adicionar</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Estado</th>
        <th>País</th>
      </tr>
    </thead>
    <tbody>
      {% for estado in estado %}
        <tr>
          <td><a href="{% url 'estado_edit' estado.pk %}">{{ estado.nome }}</a></td>
          <td>{{ estado.pais }}</td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
