{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mt-2">Cadastro de Estado</h2>
  <hr class="mt-0 mb-4">
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.pais|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.nome|as_crispy_field }}
      </div>
    </div>
    <button type="submit" value="Update" class="btn btn-success">Salvar</button>
    <a href="{% url 'estado_delete' estado.pk %}" class="btn btn-danger">Excluir</a>
    <a href="{% url 'estado_list' %}" class="btn btn-primary">Cancelar</a>
  </form>
{% endblock %}
