{% extends 'base.html' %}

{% block content %}
  <h2 class="mt-2">Cadastro de Cidade</h2>
  <hr class="mt-0 mb-4">
  <p>
    <a href="{% url 'cidade_add' %}" class="btn btn-primary">Adicionar</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Cidade</th>
        <th>Número do IBGE</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for cidade in cidade %}
        <tr>
          <td><a href="{% url 'cidade_edit' cidade.pk %}">{{ cidade.nome }}</a></td>
          <td>{{ cidade.numIbge }}</td>
          <td>{{ cidade.estado }}</td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
