{% extends 'base.html' %}

{% block content %}
  <h2 class="mt-2">Cadastro de Nome do Logradouro</h2>
  <hr class="mt-0 mb-4">
  <p>
    <a href="{% url 'nomelogradouro_add' %}" class="btn btn-primary">Adicionar</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome do Logradouro</th>
      </tr>
    </thead>
    <tbody>
      {% for nomelogradouro in nomelogradouro %}
        <tr>
          <td><a href="{% url 'nomelogradouro_edit' nomelogradouro.pk %}">{{ nomelogradouro.nome }}</a></td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}