{% extends 'base.html' %}

{% block content %}
  <h2 class="mt-2">Cadastro de País</h2>
  <hr class="mt-0 mb-4">
  <p>
    <a href="{% url 'pais_add' %}" class="btn btn-primary">Adicionar</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      {% for pais in pais %}
        <tr>
          <td><a href="{% url 'pais_edit' pais.pk %}">{{ pais.codPais }}</a></td>
          <td>{{ pais.nome }}</td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
